*{
    padding: 0;
    margin:0;
    box-sizing: border-box;
    font-style: normal;
}

html{
    height:100vh;
}

body{
    background-color: #3A4663;
    font-family:'League Spartan'; 
    display: flex;
    align-items: center; 
    justify-content: center; 
    height: 100vh; 
    flex-direction: column;
}

header{
    justify-content: space-between;
    align-items: center;
    display: flex;
    width:320px;
    height:42px;
    position: relative;
    padding-top: 30px;
}


.theme-div{
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 10px;
}

h3{
    font-weight: 700;
    font-size: 32px;
    line-height: 29.44px;
    letter-spacing: -0.53px;
    color:#FFF;
}

h4{
    width:41px;
    height:11px;
     font-size: 12px;
    font-weight: 700;
    line-height: 11px;
    letter-spacing: 1px;
    text-align: center;
    color:#FFF

}

 .switch{
    cursor: pointer;
    transition: 0.4s;
    width:71px;
    height:26px;
    border-radius: 15px;
}

#range{
    background-color: #D03F2F;
    height:16px;
    border-radius: 10px;
}

/* .theme-div label {
    cursor: pointer;
    text-indent: -9999px;
    width: 70px;
    height: 25px;
    background-color:#242D44 ;
    display: inline-block;
    border-radius: 1.5rem;
    position: relative;
    
} */


input[type=range]{
    cursor: pointer;
    text-indent: -9999px;
    width: 70px;
    height: 25px;
    background-color:#242D44 ;
    display: inline-block;
    border-radius: 1.5rem;
    position: relative;
}



#range {
    -webkit-appearance: none;
    width: 70px; 
    height: 20px; 
    background: #181F33; 
    outline: none;
    border-radius: 10px; 
}
.theme2 #range::-webkit-slider-thumb{
     background: #FF8A38;
     -webkit-appearance: none;
}

.theme-2 #range{
    background: #B3A497;
}
.theme-3 #range{
    background:#1E0936
}
.theme3 #range::-webkit-slider-thumb{
    background: #00DED0;
    -webkit-appearance: none;
}

 #range::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 20px; 
    height: 20px; 
    background: #D03F2F; 
    border-radius: 50%; 
    cursor: pointer;
}
.theme-3 #range::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 20px; 
    height: 20px; 
    background: #00DED0; 
    border-radius: 50%; 
    cursor: pointer;
}
.theme-2 #range::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 20px; 
    height: 20px; 
    background: #C85402; 
    border-radius: 50%; 
    cursor: pointer;
}

.numbers-div{
    position: absolute;
    right:3%;
    top:10px;
    display:flex;
    justify-content: space-between;
    width:40px;
}

.numbers-div p {
    color:#FFF;
    font-size: 12px;
}

input[type=number]{
    width:327px;
    height:88px;
    background-color: #181F33;
    margin: 30px auto;
    display: flex; 
    font-size: 40px;
    line-height: 36.8px;
    letter-spacing: -0.67px;
    font-weight: 700;
    color:#FFF;
    text-align: right;
    border-style: none;
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0; 
}
.input-div{
    margin: 0 auto;
    display: flex;
}

.container{
    background-color: #242D44;
    width:327px;
    height:420px;
    margin: auto;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    column-gap: 15px;
    padding-top: 10px;
    
    
}

.container .button{
    width:60px;
    height:64px;
    background-color:#EAE3DC;
    box-shadow: inset 0rem -0.2rem 0rem #B3A497;
    cursor: pointer;
    text-align: center;
    color:#434A59;
    text-transform: uppercase;
    letter-spacing: -0.053px;
    font-weight: 700;
    border-radius: 0.5rem;
    font-size: 32px;
    line-height: 29.44px;
    border-style: none;
}
.delete.button, .reset{
    color:#FFF;
    font-size: 20px;
    font-weight: 700;
    line-height: 18px;
    letter-spacing: -0.33px;
    text-align: center;
    background-color: #647198;
    box-shadow: inset 0px -0.2rem 0rem #414E73;

}
.delete.button:hover, .reset:hover{
 background-color: #a2b2e1;
}
.equal.sign.operator:hover{
background-color: #f96b5b;
}
.container input:hover{
    background: #fff;
}
.theme-2 .reset:hover, .theme-2 .delete.button:hover {
    background: #62b5bc;
  }

.theme-2 .equal.sign.operator:hover{
    background: #ff8a38;
}  

   .theme-3 .reset:hover, .theme-3 .delete.button:hover {
       background: #8631af;
     }
   
   .theme-3 .equal.sign.operator:hover{
       background: #93fff8;
   }  
   .theme-3 .container input:hover{
    background: #6c34ac;
}
.reset{
    border-style: none;
    width:133px;
    height:64px;
    cursor: pointer;
    border-radius: 0.5rem;
}
.equal.sign.operator{
    width:133px;
    height:64px;
    background-color: #D03F2F;
    box-shadow: inset 0px -0.2rem 0rem #93261A;
    border-style: none;
    color:#FFF;
    font-weight: 700;
    font-size: 20px;
    line-height: 18.4px;
    letter-spacing: -0.33px;
    cursor: pointer;
    border-radius: 0.5rem;

}
/* style for theme 2 */
.theme-2 {
    background: #e6e6e6;
  }

.theme-2 .container{
    background-color: #D2CDCD;
  }
.theme-2 input[type=number]{
    background-color: #EEE;
    color:#36362C;
}

.theme-2 .delete.button{
    background-color: #378187;
    box-shadow:0px -4px 0px 0px #1b6066 inset;
}

.theme-2 h4{
    color:#36362C;
}
.theme-2 h3{
    color:#36362C;
}
.theme-2 .reset{
    background-color: #378187;
    box-shadow:0px -4px 0px 0px #1b6066 inset;
}
.theme-2 .equal.sign.operator{
    background-color: #C85402;
    box-shadow:0px -4px 0px 0px #873901 inset;
}

.theme-2 .numbers-div p{
    color:#36362C
}


/* style for theme 3 */
.theme-3 {
    background: #17062A;
  }

.theme-3 .container{
    background-color: #1E0936;
  }
.theme-3 input[type=number]{
    background-color: #1E0936;
    color:#FFE53D;
}

.theme-3 .delete.button{
    background-color: #56077C;
    box-shadow:0px -4px 0px 0px #BE15F4 inset;
}

.theme-3 h4{
    color:#FFE53D;
}
.theme-3 h3{
    color:#FFE53D;
}
.theme-3 .reset{
    background-color: #56077C;
    box-shadow:0px -4px 0px 0px #BE15F4 inset;
}
.theme-3 .equal.sign.operator{
    background-color: #00DED0;
    box-shadow:0px -4px 0px 0px #6CF9F1 inset;
}

.theme-3 .numbers-div p{
    color:#FFE53D;
}
.theme-3 .container .button{
    color:#FFE53D
}

.theme-3 .button.number{
    background-color: #331C4D;
    box-shadow:0px -4px 0px 0px #881C9E inset;
}











@media screen and (min-width:568px){
    header{
        width:533px;
        height:44px;
    }

    input[type=number]{
        width:540px;
        height:128px;
        font-size: 56px;
    }

    .container{
        width:540px;
        height:480px;
    }

    .container .button{
        width:101px;
        height:64px;
        font-size: 40px;
        line-height: 36.8px;
    }

    .reset, .equal.sign.operator{
        width:227px;
        height:64px;
    }

    .delete.button{
        font-size: 28px;
    }

}



